<aside>
	<a href="#!"><h1>キネヌの<span class="unbold-text">ページ</span></h1></a>
	<nav>
		<a href="/"><h3>Home</h3></a>
		<a href="#!" data-href=".main-section" data-turbolinks="false"><h3>Gallery</h3></a>
		<a href="#!" data-href="#math" data-turbolinks="false"><i class="mdi mdi-vector-triangle"></i> Math</a>
		<a href="#!" data-href="#korean" data-turbolinks="false"><i class="mdi mdi-file-document-box"></i> Korean</a>
		<a href="#!" data-href="#art" data-turbolinks="false"><i class="mdi mdi-brush"></i> Art</a>
		<a href="#!" data-href="#progress" data-turbolinks="false"><i class="mdi mdi-timelapse"></i> Progress</a>
		<a href="#!" data-href="footer" data-turbolinks="false">Footer</a>
		<a href="/service"><h3>Services</h3></a>
	</nav>
</aside>

<main>
	<section class="main-section">
			<div class="header-wrapper">
				<div class="header-content">
					<h1 class="header-title"><i class="mdi mdi-image" style="font-size: 10rem;"></i></h1>
					<h3 class="header-title" style="font-size: 1.7rem; font-weight: 300">Gallery</h3>
				</div>
			</div>
		</header>
	</section>

	<section id="math" class="no-background content-section">
		<header class="centered content-header">
			<h1><i class="mdi mdi-vector-triangle"></i></h1>
		</header>
		<%
			[[
				'Triangles',
				'Triangles 1'
			], 'Triangles 2', 'Triangles 3', 'Circles', 'Pixels', 'Lines', 'Diagonal Pattern', 'Square Pattern', 'Triangle Pattern', [
				'DragonCurve',
				'Dragon Curve (WIP)'
			], 'Binary Clock'].forEach((v) => { %>
				<div class="decorated-text-wrapper">
				<% if(typeof v === 'string'){ %>
					<a href="/play/<%- v.replace(' ', '') %>.html" class="decorated-text" data-turbolinks="false"><%- v %></a>
				<% }else{ %>
					<a href="/play/<%- v[0] %>.html" class="decorated-text" data-turbolinks="false"><%- v[1] %></a>
				<% } %>
				</div>
			<% }); %>
	</section>

	<section id="korean" class="no-background content-section">
		<header class="centered content-header">
			<h1><i class="mdi mdi-file-document-box"></i></h1>
		</header>

		<div class="decorated-text-wrapper">
			<a href="/play/Hangul.html" class="decorated-text" data-turbolinks="false">Hangul</a>
		</div>
	</section>

	<section id="art" class="no-background content-section">
		<header class="centered content-header">
			<h1><i class="mdi mdi-brush"></i></h1>
		</header>

		<% ['Mine Sweeper', 'Snow Halation', 'Jump', 'Trail'].forEach((v) => { %>
			<div class="decorated-text-wrapper">
				<a href="/play/<%- v.replace(' ', '') %>.html" class="decorated-text" data-turbolinks="false"><%- v %></a>
			</div>
		<% }); %>
	</section>

	<section id="progress" class="no-background content-section">
		<header class="centered content-header">
			<h1><i class="mdi mdi-timelapse"></i></h1>
		</header>

		<% ['Progress 1', 'Progress 2', 'Progress 3'].forEach((v) => { %>
			<div class="decorated-text-wrapper">
				<a href="/play/<%- v.replace(' ', '') %>.html" class="decorated-text" data-turbolinks="false"><%- v %></a>
			</div>
		<% }); %>
	</section>

	<% include ./footer %>
</main>

<script src="/resources/js/gallery.js"></script>
